/* custom.css */
.bg-custom-blue {
  background-color: #040066;
}

.text-color {
  color: #040066;
}

/* custom.css */
.bg-custom-grey {
  background-color: #cfcfcf;
}

.bg-custom-red {
  background-color: #f00a0a;
}
